<%= form_with model: @detail, data: {remote: false} do |form| %>
<div>
<%= form.label :enter_name %>
<%= form.text_field :name %><br>
</div>
<div>
<%= form.label :enter_rollno %>
<%= form.text_field :rollno %><br>
</div>
<div>
<%= form.label :enter_marks %>
<%= form.text_field :marks %><br>
</div>
<%= form.submit 'edit'%>
<% end %>
